body{
  background-color: #e8f5f4;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #C0A1E5;
}

main,
.site-name {
  background-color: #fafbfc;
}

a,
.btn-no-style,
#comment-subtitle {
  color: #141413;

}

a:hover,
.btn-no-style:hover {
  color: #9dCECA;;
}
.top header h1 {
  padding: 5px;
  font-size: 1em;
    margin-top: 25px;
  
}

a {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: color .1s;
}
a clear.centered {
  display: block;
  text-align: center;
}


button {
  background-color: #9dCECA;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #9dCECA;
}

.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.go-back {
  color: #C0A1E5;
}

textarea,
input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 30%;

}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #9dCECA;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form>div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 90%;
  border: 2px solid black;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.info-section {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

header,
.site-row,
.info-section,
.form-heading {
  background-color: #C0A1E5;
}

.login-page,
.sign-in-page,
.new-form-page,
.edit-form-page {
  border: 3px solid black;
  border-radius: 25px;
  padding-bottom: 10px;
}

.form-heading {
  padding: 15px;
  border-radius: 22px;
  border: 4px solid black;

}

.info-section,
.content-section,
.form-section,
.sign-in-link,
.login-link {
  padding-left: 10px;
}

.post-name,
.post-title-section, .new-page {
  padding-top: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}


.site-row {
  display: flex;
  border-bottom: 1px solid #ccc;
  justify-content: center;
}

.site-name {
  margin-bottom: 10px;
  padding: 0px 10px;
  border-style: double;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
}

.delete-post-btn {
  background-color: #f7d2b7;
}

.delete-post-btn:hover {
  background-color: #f5a75d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
  border: 3px solid black;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
  color: #C0A1E5;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

#comment-subtitle {
  font-size: 12px;
  font-style: italic;
}

.new-post-section {
  display: flex;
  justify-content: center;
}

#create-new-post {
  width: 15%;
}

.sign-in-link,
.login-link {
  color: #C0A1E5;
  display: block;
  margin: 0 auto;
}

.form-heading h1,
.form-heading h2 {
  color: #f8f3fa;
}

.login-form,
.signup-form,
.post-content,
.post-title-section {
  padding: 10px 10px 0px 0px;
}

.entry-field,
.login-signup-btn,
.btn,
#post-title {
  width: 90%;
  display: block;
  margin: 0 auto;
}